html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
   
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 100px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}

table thead th{
    background-color: black;
    color: white;
       
}
table tbody tr:nth-child(even){
    background-color: #a5a5a5;
}
.contato-container{
    display: flex;
    gap: 20px;
    
}

.contato-info,
.contato-form {
    width: 50%;
    height: 50%;
}

fieldset {
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.form-buttons {
    display: flex;
    gap: 10px;
    
}
